#Installing Python and GraphLab Create

Please follow the installation instructions here before getting started:


##We have done
* Installed Python
* Started Ipython Notebook

#Getting started with Python

In [3]:
print 'Hello World!'

Hello World!

##Create some variables in Python

In [4]:
i = 4  #int

In [5]:
type(i)

int

In [6]:
f = 4.1  #float

In [7]:
type(f)

float

In [8]:
b = True  #boolean variable

In [9]:
s = "This is a string!"

In [10]:
print s

This is a string!

##Advanced python types

In [11]:
l = [3,1,2]  #list

In [12]:
print l

[3, 1, 2]

In [13]:
d = {'foo':1, 'bar':2.3, 's':'my first dictionary'}  #dictionary

In [14]:
print d

{'s': 'my first dictionary', 'foo': 1, 'bar': 2.3}

In [15]:
print d['foo']  #element of a dictionary

1

In [16]:
n = None  #Python's null type

In [17]:
type(n)

NoneType

##Advanced printing

In [18]:
print "Our float value is %s. Our int value is %s." % (f,i)  #Python is pretty good with strings

Our float value is 4.1. Our int value is 4.

##Conditional statements in python

In [19]:
if i == 1 and f > 4:
    print "The value of i is 1 and f is greater than 4."
elif i > 4 or f > 4:
    print "i or f are both greater than 4."
else:
    print "both i and f are less than or equal to 4"

i or f are both greater than 4.

##Conditional loops

In [20]:
print l

[3, 1, 2]

In [21]:
for e in l:
    print e

3
1
2

Note that in Python, we don't use {} or other markers to indicate the part of the loop that gets iterated.  Instead, we just indent and align each of the iterated statements with spaces or tabs. (You can use as many as you want, as long as the lines are aligned.)

counter = 6
while counter < 10:
    print counter
    counter += 1

#Creating functions in Python

Again, we don't use {}, but just indent the lines that are part of the function.

In [23]:
def add2(x):
    y = x + 2
    return y

In [24]:
i = 5

In [25]:
add2(i)

7

We can also define simple functions with lambdas:

In [29]:
square = lambda x: x*x

#Fire up GraphLab Create

In [31]:
import graphlab

#Load a tabular data set

In [32]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file C:\Users\sstebbins.EAGLEOCEAN\Documents\coursera\ipynb_checkpoints\people-example.csv

Parsing completed. Parsed 7 lines in 0.016032 secs.

Finished parsing file C:\Users\sstebbins.EAGLEOCEAN\Documents\coursera\ipynb_checkpoints\people-example.csv

Parsing completed. Parsed 7 lines in 0.018011 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

#SFrame Basics

In [33]:
sf # we can view first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [34]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [35]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

#GraphLab Canvas

In [36]:
#Take an data structurein GraphLab Create
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:51120/index.html
Opening Canvas in default web browser.

In [37]:
graphlab.canvas.set_target('ipynb')

In [38]:
sf['age'].show(view="Categorical")

#Inspect Columns

In [39]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [40]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [41]:
sf['age'].mean()

23.142857142857146

In [42]:
sf['age'].max()

25L

#Create new columns in our SFrame

In [43]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [44]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [45]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [47]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576L, 529L, 484L, 529L, 529L, 484L, 625L]

#Use the apply function to do advanced transformation

In [48]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [52]:
sf['Country'].show()

In [50]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [51]:
transform_country('Brazil')

'Brazil'

In [53]:
transform_country('USA')

'United States'

In [54]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [55]:
sf['Country'] = sf['Country'].apply(transform_country)

In [56]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]